@tailwind base;
@tailwind components;
@tailwind utilities;

nav > ul::before{
    content: '';
    height: 100%;
    width: var(--width);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid rgb(59, 59, 59);
    background: linear-gradient(to top, transparent, gray 99%,rgb(137, 137, 137));
    position:absolute;
    left: calc(var(--active) * var(--width));
    transition: all 0.4s ease-in;
}
@font-face {
    font-family: 'Kumar One';
    src: url('./assets/KumarOne-Regular.ttf');
}

@layer components{
    ::-webkit-scrollbar {
        display: none;
    }
    *{
        scrollbar-width: none;
    }
    *{
        -ms-overflow-style: none;
    }
    .font-Kumar{
        font-family: "Kumar One", sans-serif;
        font-weight: 400;
        padding-top: 0.7rem;
    }

    .img-animation {
        --s: 5px;
        position: absolute;
        width: 101%;
        display: grid;
        aspect-ratio: 1;
        border-radius: 50%;
        -webkit-mask: radial-gradient(50% 50%,#0000 calc(99% - 2*var(--s)),#000 calc(101% - 2*var(--s)));
        animation: r 8s cubic-bezier(0.6, 0.2, 0, 0.8) infinite;
    }

    .rotate-along-y{
        transform: rotateY(-20deg);
    }
  
    .img-animation:before {
        content: "";
        background: conic-gradient(from 25deg,#f8a201 25%,#fa2402 0 50%,#fdb3b0 0 75%,#02dde1 0);
        -webkit-mask: repeating-conic-gradient(#0000 0 25deg,#000 23% 25%),
        radial-gradient(var(--s) at var(--s) 50%,#000 97%,#0000) 
            left/calc(100% - 2*var(--s)) 100% repeat-x,
        radial-gradient(var(--s) at 50% var(--s),#000 97%,#0000) 
            top /100% calc(100% - 2*var(--s)) repeat-y;
    }
  
    @keyframes r {
        to{
            transform: rotate(1turn);
        }
    }

    .homeContainer-logos{
        @apply relative size-11 2xl:size-20 max-md:size-9 rounded-full transition-all duration-500 flex justify-center items-center capitalize font-semibold;
        &::before{
            content: attr(data-social);
            padding-inline: 18px;
            border-radius: 30px;
            position: absolute;
            top: 0;
            transform: rotate(-45deg) scale(0.4);
            background-color: var(--accent-color);
            opacity: 0;
            transition: all 0.5s ease;
            color: #000;
            font-weight: 700;
            font-size: 17.3px;
        }
    }
    .homeContainer-logos:hover{
        background-color: var(--accent-color);
        &::before{
            top: -32px;
            opacity: 1;
            transform: rotate(0) scale(1);
            transition: all 0.5s ease;
        }
    }
    .text-shadow-below-1536{
        text-shadow: 1px 1px black;
    }
    .text-shadow-above-1536{
        text-shadow: 2px 2px black;
    }
    .nav-items{
        @apply w-20 2xl:w-32 flex justify-center items-center cursor-pointer text-shadow-below-1536 2xl:text-shadow-above-1536;
    }
    .nav-items > div{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            width: 0;
            left: 50%;
            height: 1.4px;
            background-color: white;
            transition: all 0.3s ease-out;
        }
    }
    .nav-items:hover > div{
        &::before{
            width: 100%;
            left: 0;
        }
    }
    .loader {
        position: relative;
        box-sizing: border-box;
        background-clip: padding-box;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
        transform-origin: 50% 60%;
        transform: perspective(200px) rotateX(45deg);
        animation: spinner-wiggle 1.2s infinite;
    }
  
    .loader:before,
    .loader:after {
        content: "";
        position: absolute;
        margin: -4px;
        box-sizing: inherit;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        opacity: .05;
        border: inherit;
        border-color: transparent;
        animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
    }
  
    .loader:before {
        border-top-color: #66e6ff;
    }
    
    .loader:after {
        border-top-color: #f0db75;
        animation-delay: 0.3s;
    }
  
    @keyframes spinner-spin {
        100% {
        transform: rotate(360deg);
        }
    }
  
    @keyframes spinner-fade {
        20% {
        opacity: .1;
        }
    
        40% {
        opacity: 1;
        }
    
        60% {
        opacity: .1;
        }
    }

    .tech-stacks-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px , 1fr));
        gap: 20px;
        margin-bottom: 7rem;
        &>div{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            &>div:nth-child(1){
                border: 1.5px solid gray;
                border-radius: 14px;
                width: 100%;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                &>svg{
                    width: 75%;
                    aspect-ratio: 1/1;
                }
            }
            &>div:nth-child(2){
                width: 100%;
                color: black;
                background-color: var(--logo-color);
                font-weight: 600;
                border-radius: 5px;
                margin-top: 5px;
                text-align: center;
            }
        }
    }

    .projects-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 550px);
        gap: 30px;
        &>div{
            height: 100%;
            padding: 8px;
            box-shadow: inset 0 0 4px black;
            border-radius: 15px;
            &>img{
                width: 100%;
                height: 250px;
                object-position: center;
                object-fit: cover;
                border-radius: 10px 10px 0 0 ;
                margin-bottom: 8px;
            }
            &>div{
                margin-bottom: 7px;
            }
            & > a{
                padding: 5px 25px 5px 10px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border-block: 1px solid black;
                border-right: 1px solid black;
                display: inline-block;
                margin: 15px 0 8px 0;
                text-align: right;
                transition: all 0.4s ease;
                &:hover{
                    padding: 5px 25px 5px 50px;
                }
            }
        }
    }
    .contact-options{
        display: inline-block;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3.5px;
        text-shadow: 0.5px 0.5px white;
        width: 85%;
        border-radius: 20px 0 0 20px;
        border-left: 2px solid black;
        text-align: start;
        transition: width 0.5s ease, background-color 0.4s ease;
    }
    .contact-options:hover{
        width: 120%;
        background: linear-gradient(to right, var(--accent), transparent,transparent);
    }
    .contactBox-shadow{
        box-shadow: inset 0 0 3px black;
    }
    .manual-rotate{
        transform: rotateX(-10deg) ;
    } 

    /* media queries */
    @media (max-width: 650px){
        .projects-container{
            grid-template-columns: 1fr;
        }
    }
    @media (min-width: 1536px){
        .loader{
            width: 300px;
            height: 300px;
            border-radius: 150px;
        }
        .tech-stacks-container{
            grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));
            gap: 40px;
        }
        .projects-container{
           grid-template-columns: repeat(auto-fill, 40vw);
           gap: 50px;
           &>div{
            padding: 15px;
            &>img{
                height: 350px;
                margin-bottom: 13px;
            }
            &>div{
                margin-bottom: 17px;
            }
            & > a{
                padding: 7px 35px 7px 17px;
                margin: 22px 0 12px 0;
                &:hover{
                    padding: 7px 35px 7px 83px;
                }
            }
        }
        }
        .contact-options{
            padding-left: 20px;
            padding-top: 7px;
            padding-bottom: 8.2px;
            border-radius: 30px 0 0 30px;
        }
    }
    @media (prefers-color-scheme: dark) {
        .projects-container{
            &>div{
                box-shadow: inset 0 0 4px white;
                & > a{
                    border-block: 1px solid white;
                    border-right: 1px solid white;
                }
            }
        }
        .contactBox-shadow{
            box-shadow: inset 0 0 3px white;
        }
        .contact-options{
            border-left: 2px solid white;
            text-shadow: 1px 1px black;
        }
    }
}